<mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Timetable Generating System</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="home"> Home</button>
    <button mat-button routerLink="input">About</button>
    <button mat-button routerLink="card">Cards</button>
    <button mat-button routerLink="table">Table</button>
    <button mat-button>Contact</button>
    <button mat-raised-button color="accent">Accent</button>
    <button [matMenuTriggerFor]="user" mat-button>Jamal</button>
    <button mat-icon-button>
        <mat-icon matBadge="15" matBadgeColor="accent">notifications</mat-icon>
    </button>
    <button mat-button routerLink="login">Login</button>
    <mat-menu #user="matMenu">
        <button mat-menu-item>Profile</button>
        <hr>
        <button mat-menu-item>Log In</button>
    </mat-menu>
</mat-toolbar>
<mat-drawer-container>
    <mat-drawer #drawer opened="true" mode="side" position="start" style="background-color: rgb(75, 103, 180); color:#FFF; width:200px;">
        <!--Mode can equal to side, over and push-->
        <mat-nav-list>
            <mat-list-item>
                <button mat-button style="color: #FFF;"><mat-icon>dashboard></mat-icon>Dashboard</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button style="color: #FFF;"><mat-icon>home></mat-icon>Home</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button style="color: #FFF;"><mat-icon>settings></mat-icon>Settings</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button style="color: #FFF;"><mat-icon>help></mat-icon>Help</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button style="color: #FFF;"><mat-icon>analytics></mat-icon>Analytics</button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center; min-height: 600px;">

            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
