<mat-card>
    <mat-card-content>
        <mat-form-field class="mat-50">
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="mat-50">
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="mat-50">
            <mat-label>Phone</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="mat-50">
            <mat-label>Country</mat-label>
            <mat-select>
                <mat-option [value]="item" *ngFor="let item of countrylist">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="mat-50">
            <mat-label>Address</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="mat-50">
            <mat-label>Date of Birth:</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description:</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>